.container-landing {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

.img-main {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-img-gray);
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-main h1 {
    font-family: 'Great Vibes', serif;
    font-size: 100px;
    color: var(--color-text-white);
    background-color: var(--color-background-title-gray);
    padding: 40px;
    border-radius: 10px;
}

.container-infos {
    color: var(--color-white);
    text-align: center;
    padding: 10px 0px;
    background: var(--color-green-esmerald);
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-infos h1 {
    font-size: 60px;
}

.container-infos h3,
.colors-container h3 {
    font-weight: 200;
    margin: 10px 0px;
}

.container-infos h4 {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.address-infos {
    font-family: 'Lobster', serif;
    font-size: 25px;
}

.text-option {
    margin: 20px 0px;
    width: 800px !important;
    align-self: center;
}

.map {
    margin: 20px 0px;
}

.divisor-left,
.divisor-right {
    position: absolute;
    top: 50%;
    bottom: 50%;
}

.divisor-left {
    rotate: -90deg;
    left: -50px;
}

.divisor-right {
    rotate: 90deg;
    right: -50px;
}

.container-infos h3,
.colors-container h3,
.container-msg h3,
#gifts-container h3 {
    font-size: 30px;
}

.bar-horizontal {
    width: 120px;
    border: 1px solid var(--color-white);
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-msg {
    background-color: var(--color-white);
    text-align: center;
    width: 100%;
    color: var(--color-text-green);
    padding: 10px 0px;
}

.container-msg p {
    font-size: 16px;
}

#gifts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px 60px 100px;
    background: var(--color-background-green-light);
    text-align: center;
}

#gifts-container h3 {
    margin-bottom: 5px;
}

.btn-gifts {
    border: 1px solid var(--color-green);
    padding: 8px 10px;
    color: var(--color-green);
    border-radius: 6px;
    transition: color 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    cursor: pointer;
    margin: 30px 0px;
}

.btn-gifts::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    transition: left 0.4s ease-in-out, background 0.4s ease-in-out;
    z-index: -1;
}

.btn-gifts:hover {
    color: var(--color-white);
}

.btn-gifts:hover::before {
    left: 0;
    background: var(--color-green);
}

.text-bible {
    font-style: italic;
}

.divisor.inverted {
    rotate: 180deg;
}

.colors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}