.gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-track {
    display: flex;
    width: max-content;
    height: 300px !important;
    cursor: grab;
    scroll-behavior: smooth;
    user-select: none; /* Evita seleção de texto ao arrastar */
    overflow-x: scroll;
    scrollbar-width: none; /* Remove a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Remove a barra de rolagem no Edge */
    animation: slide 40s linear infinite;
}

/* Remove a barra de rolagem no Chrome e Safari */
.gallery-track::-webkit-scrollbar {
    display: none;
}

.gallery-track:active {
    cursor: grabbing;
}

.gallery-img {
    width: 500px;
    height: 300px !important;
    object-fit: cover;
    position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-background-black-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
}

.modal-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-shadow-white);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}